<!DOCTYPE html>
<html>
<head>
  <title>IRCTC Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to IRCTC Booking System</h1>
  <a href="/register">Register</a> | <a href="/login">Login</a>
</body>
</html>
